body {
  background-color:rgb(15 16 17);
}

.playlist-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-card img {
  width: 100%;
}

.playlist-card .playlist-info {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: left;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.3s;
}

.playlist-card:hover .playlist-info {
  opacity: 1;
  bottom: 0;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -58px; 
  color: white;
  z-index: 1000;
}

.search-input input {
  border: none;
  border-bottom: 1px solid #ccc; 
  background: transparent;
  outline: none;
  color: #ffffff; 
  width: 200px; 
  padding: 5px; 
  margin: 5px; 
}

.playlist-section {
  display: flex;
  flex-wrap: nowrap;
}

.playlist-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.playlist-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-right: 10px; 
  max-width: 20%; 
}

.playlist-cards-container {
  display: flex;
  flex-wrap: nowrap; 
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-card img {
  width: 100%;
}

.playlist-info {
  padding: 10px;
}

.playlist-info h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
